.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdc1ff;
  color: #fff;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.space-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header-title {
  font-size: 24px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 20px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
