.landingPage {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  max-height: 800px;
}

.container {
  max-width: 800px;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

h1 {
  font-size: 24px;
  color: #333;
}

div {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.start-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button hover effect */
.start-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Button click effect */
.start-button:active {
  transform: scale(0.95);
}

.vehicle-container {
  text-align: center;
}

.vehicle-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.vehicle-row {
  display: flex;
  justify-content: space-between;
}

.vehicle-card {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.vehicle-card:hover {
  transform: scale(1.1);
}

.vehicle-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* Responsive styles for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  div {
    font-size: 14px;
    margin-bottom: 10px;
  }

  /* Adjust the vehicle cards for smaller screens */
  .vehicle-card {
    width: 90px;
    height: 90px;
    margin: 5px;
  }
  .start-button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
